#### Investigate the file

In [31]:
import pandas as pd
df = pd.read_csv('order-item-data.csv',sep='\t')

In [32]:
df.head()

,order_id,order_item_id,brand_city,brand_state,brand_country,order_grand_total,order_shipping_charge,order_created,event_created,event_expiration_date,order_item_quantity,order_item_unit_price,order_item_total_price,order_item_name,order_item_bounds,customer_billing_state,customer_billing_country,customer_shipping_state,customer_shipping_country
0,1797804,9118809,Auckland,NaN,NZ,39.5,0.0,2015-10-01 00:00:24,2015-09-25 23:17:54,NaN,1,39.5,39.5,Full Resolution - Approx 2-4MB (Digital Media),NaN,NaN,NaN,Auckland,NZ
1,1797805,9118810,Medford,OR,US,27.0,0.0,2015-10-01 00:00:52,2015-04-15 05:48:02,2015-09-30 07:00:00,1,15.0,15.0,(1) 8x10 (Headshot Prints),0.0,OR,US,OR,US
2,1797805,9118811,Medford,OR,US,27.0,0.0,2015-10-01 00:00:52,2015-04-15 05:48:02,2015-09-30 07:00:00,1,15.0,15.0,(1) 8x10 (Headshot Prints),0.0,OR,US,OR,US
3,1797806,9118812,Harrah,OK,US,9.0,0.0,2015-10-01 00:00:58,2015-09-29 08:25:36,NaN,1,3.0,3.0,Full Resolution (Digital Media),NaN,OK,US,OK,US
4,1797806,9118813,Harrah,OK,US,9.0,0.0,2015-10-01 00:00:58,2015-09-29 08:25:36,NaN,1,3.0,3.0,Full Resolution (Digital Media),NaN,OK,US,OK,US

Checking to see which columns are populated.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 19 columns):
order_id                     9998 non-null int64
order_item_id                9998 non-null int64
brand_city                   9940 non-null object
brand_state                  9062 non-null object
brand_country                9998 non-null object
order_grand_total            9998 non-null float64
order_shipping_charge        9998 non-null float64
order_created                9998 non-null object
event_created                9998 non-null object
event_expiration_date        7169 non-null object
order_item_quantity          9998 non-null int64
order_item_unit_price        9998 non-null float64
order_item_total_price       9998 non-null float64
order_item_name              9998 non-null object
order_item_bounds            7769 non-null float64
customer_billing_state       5807 non-null object
customer_billing_country     5850 non-null object
customer_shipping_state      9489 non-null object
customer_shipping_country    9998 non-null object
dtypes: float64(5), int64(3), object(11)
memory usage: 1.4+ MB

#### Product Buckets
I noticed that each order item name had a category associated. This is always the last set of parenthesis in the item name. In order to extract that category I wrote a function to reverse the string, find the last set of parenthesis, extract the category, and reverse the string back to normal.

In [34]:
for i in list(df.order_item_name.unique()[0:10]):
    print (i)

Full Resolution - Approx 2-4MB (Digital Media)
(1) 8x10 (Headshot Prints)
Full Resolution (Digital Media)
2-5x7 (Packages)
Lustre (Prints)
Round Button 3 in. (Products)
Web Digitals (Digital Media)
Lustre - rounded corners (Prints)
5x7 Archival Print (Prints)
Set of Wallets (8/set) (Prints)

In [35]:
def reverse_string(s):
    new_s = ''
    for i in s:
        new_s = i + new_s
    return new_s

def get_item_category(s):
    reversed_s = reverse_string(s)
    start = reversed_s.find(')')
    end = reversed_s.find('(')
    
    item_category =  reverse_string(reversed_s[start:end+1])
    item_category = item_category.replace('(','').replace(')','')
    return item_category

df['item_category'] = df.order_item_name.apply(get_item_category)

#### Why doesn't the order_grand_total match the sum of the order's item's total price?
In the example below I would expect the order grand total to equal 30 not 27

In [36]:
df[df.order_id == 1797805]

,order_id,order_item_id,brand_city,brand_state,brand_country,order_grand_total,order_shipping_charge,order_created,event_created,event_expiration_date,order_item_quantity,order_item_unit_price,order_item_total_price,order_item_name,order_item_bounds,customer_billing_state,customer_billing_country,customer_shipping_state,customer_shipping_country,item_category
1,1797805,9118810,Medford,OR,US,27.0,0.0,2015-10-01 00:00:52,2015-04-15 05:48:02,2015-09-30 07:00:00,1,15.0,15.0,(1) 8x10 (Headshot Prints),0.0,OR,US,OR,US,Headshot Prints
2,1797805,9118811,Medford,OR,US,27.0,0.0,2015-10-01 00:00:52,2015-04-15 05:48:02,2015-09-30 07:00:00,1,15.0,15.0,(1) 8x10 (Headshot Prints),0.0,OR,US,OR,US,Headshot Prints

In this example there order has no total, but each item should cost 25. I would expect to see 125 as the order_grand_total

In [37]:
df[df.order_id == 1797811]

,order_id,order_item_id,brand_city,brand_state,brand_country,order_grand_total,order_shipping_charge,order_created,event_created,event_expiration_date,order_item_quantity,order_item_unit_price,order_item_total_price,order_item_name,order_item_bounds,customer_billing_state,customer_billing_country,customer_shipping_state,customer_shipping_country,item_category
24,1797811,9118833,Fayetteville,NC,US,0.0,0.0,2015-10-01 00:03:06,2015-09-08 14:59:15,2015-10-03 04:00:00,1,25.0,25.0,Full Resolution (Digital Media),NaN,NaN,NaN,NC,US,Digital Media
25,1797811,9118834,Fayetteville,NC,US,0.0,0.0,2015-10-01 00:03:06,2015-09-08 14:59:15,2015-10-03 04:00:00,1,25.0,25.0,Full Resolution (Digital Media),NaN,NaN,NaN,NC,US,Digital Media
26,1797811,9118835,Fayetteville,NC,US,0.0,0.0,2015-10-01 00:03:06,2015-09-08 14:59:15,2015-10-03 04:00:00,1,25.0,25.0,Full Resolution (Digital Media),NaN,NaN,NaN,NC,US,Digital Media
27,1797811,9118836,Fayetteville,NC,US,0.0,0.0,2015-10-01 00:03:06,2015-09-08 14:59:15,2015-10-03 04:00:00,1,25.0,25.0,Full Resolution (Digital Media),NaN,NaN,NaN,NC,US,Digital Media
28,1797811,9118837,Fayetteville,NC,US,0.0,0.0,2015-10-01 00:03:06,2015-09-08 14:59:15,2015-10-03 04:00:00,1,25.0,25.0,Full Resolution (Digital Media),NaN,NaN,NaN,NC,US,Digital Media

Looking at the data grouped by order_id will let me know how common this occurs

In [38]:
order_df = df.groupby(['order_id',
                       'order_created'], as_index=False)\
    .agg({'order_grand_total': 'mean',
          'order_shipping_charge':'mean',
          'order_item_total_price':'sum'})

In [39]:
from __future__ import division
unequal_orders = len(order_df[order_df.order_grand_total != order_df.order_item_total_price])  
total_orders = len(order_df)

print ("%s of all orders have an order grand total that does not match the sum of the item totals." 
       % "{:.2%}".format(unequal_orders/total_orders))

68.15% of all orders have an order grand total that does not match the sum of the item totals.

In [40]:
order_df.head()

,order_id,order_created,order_grand_total,order_shipping_charge,order_item_total_price
0,1797804,2015-10-01 00:00:24,39.50,0.0,39.5
1,1797805,2015-10-01 00:00:52,27.00,0.0,30.0
2,1797806,2015-10-01 00:00:58,9.00,0.0,9.0
3,1797807,2015-10-01 00:01:30,23.98,0.0,22.0
4,1797808,2015-10-01 00:01:37,20.00,0.0,20.0

#### Category Summary

In [41]:
df.columns

Index([u'order_id', u'order_item_id', u'brand_city', u'brand_state',
       u'brand_country', u'order_grand_total', u'order_shipping_charge',
       u'order_created', u'event_created', u'event_expiration_date',
       u'order_item_quantity', u'order_item_unit_price',
       u'order_item_total_price', u'order_item_name', u'order_item_bounds',
       u'customer_billing_state', u'customer_billing_country',
       u'customer_shipping_state', u'customer_shipping_country',
       u'item_category'],
      dtype='object')

In [42]:
category_df = df.groupby('item_category',as_index=False)\
        .agg({'order_id':pd.Series.nunique,
              'order_item_total_price':'sum',
              
             
             })\
        .sort_values('order_id',ascending=False)
        
category_df['spend_per_order'] = category_df['order_item_total_price'] / category_df['order_id'] 
category_df

            item_category  order_id  order_item_total_price  spend_per_order
75                 Prints       869                69854.38        80.384787
30          Digital Media       416                37677.38        90.570625
79               Products        55                 7502.13       136.402364
67               Packages        21                  922.00        43.904762
14               Canvases        15                 2932.97       195.531333
62                 PRINTS        10                  826.50        82.650000
25          Digital Files        10                 1675.00       167.500000
0                                 7                  205.90        29.414286
54      Individual Prints         7                  173.00        24.714286
29         Digital Images         7                 1358.16       194.022857
81            RCLC Prints         5                  140.04        28.008000
89         STANDARD SIZES         5                  133.00        26.600000
3              A La Carte         5                   75.00        15.000000
82                 Raffle         4                   45.00        11.250000
58    MULTI-POSE PACKAGES         4                  310.00        77.500000
87   SINGLE POSE PACKAGES         4                  130.00        32.500000
74         Print Packages         4                  230.00        57.500000
60           ONLINE ITEMS         3                  120.00        40.000000
99          Team Portrait         3                    0.00         0.000000
18            Collections         3                 2292.00       764.000000
80     RCLC Digital Media         3                   90.00        30.000000
72                  Print         3                 3022.00      1007.333333
6         Add-On Products         3                   60.00        20.000000
73        Print Only Pkgs         3                  100.00        33.333333
76    Prints - A la Carte         2                  154.00        77.000000
42        Fine Art Prints         2                 1148.00       574.000000
38    Downloadable Images         2                  210.00       105.000000
51            Group Photo         2                    0.00         0.000000
69         Pickup Options         2                    0.00         0.000000
2              A LA CARTE         2                  375.00       187.500000
..                    ...       ...                     ...              ...
11        Art Collections         1                 1000.00      1000.000000
10         Albums / Books         1                  875.00       875.000000
9          Albums & Cards         1                   40.00        40.000000
7                AlaCarte         1                   10.00        10.000000
5                 Add Ons         1                    8.00         8.000000
4         ALA CARTE/CLASS         1                   24.00        24.000000
32       Digital billeder         1                  150.00       150.000000
34     Digitale downloads         1                  447.00       447.000000
61         Other Products         1                   75.00        75.000000
35               Digitals         1                   85.00        85.000000
59                 Metals         1                   94.00        94.000000
57         Lataa vedokset         1                    0.00         0.000000
56          Kuvatiedostot         1                   99.00        99.000000
1                  Prints         1                   40.00        40.000000
53                 Images         1                   80.00        80.000000
52        Headshot Prints         1                   30.00        30.000000
50    Gift/Mounted Prints         1                  145.00       145.000000
49       Gift/Desk Prints         1                    0.00         0.000000
48            Gift Prints         1                   80.00        80.000000
47            GIFT PRINTS         1                   70.00        70.000000
46           Förstoringar         1                 1288.00      1288.000000
45          Fremkaldelser         1                  360.00       360.000000
44             Fotoabzüge         1                  165.00       165.000000
43      Forfaits Garderie         1                  100.00       100.000000
41                   Fees         1                  100.00       100.000000
40                Extras!         1                    9.00         9.000000
39       Downloads and CD         1                   75.00        75.000000
37   Disc/USB with Images         1                   15.00        15.000000
36                   Disc         1                  150.00       150.000000
109      Övriga Produkter         1                  560.00       560.000000

[110 rows x 4 columns]

#### Save files to csv for Tableau

In [43]:
df.to_csv('order-item-data-with-category.csv',index=False)
order_df.to_csv('order-data.csv',index=False)
category_df.to_csv('category-data.csv',index=False)